.paginationDot--home__slider{
    margin-top: -42px;
}
.sliderLayoutContainer--home__slider--sections-phone::-webkit-scrollbar-track{
    background-clip: padding-box;
}
.sliderTrackContainer--home__slider--sections-phone{
    overflow: visible;
} 
.sliderLayoutContainer--home__slider--sections-phone{
    overflow: auto;
}
.bullet__item--link{
    text-decoration: none;
    text-align: center;
    color:  #e54318;
    font-weight: 400;
 }