.imageElement--icon__cellphone{
    width: 30px;
    margin-left: 10px;
    padding-bottom: 10px;
}
.imageElement--home__section--one-department-img{   
    margin-top: 7px;
    padding: 13px;
    width: 68px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 16%);
    cursor: pointer;
    margin-left: 20px;
}