.flexColChild--section__one--image{
    width: 50%;
}
.flexRowContent--home__sectione--one{
    background-color: #e33226;
}
.flexRowContent--home__images{
    margin-top: 40px;
    margin-bottom: 40px;
}
.flexRowContent--home__section--one-departments{
    margin-top: 24px;
}
.sliderLayoutContainer--home__slider{
    margin-top: -60px;
}
.flexRow--home__images{
    margin-left: 20px;
    margin-right: 0px;
}
.flexRow--container__home--section--one-phone{
    margin-right: 8px;
    margin-left: -18PX;
}
.flexRow--container__home--section--one-tablet{
    margin-right: 128px;

}

