.imageElement--icon__cellphone{
    width: 30px;
    margin-left: 10px;
    padding-bottom: 10px;
}
.imageElement--home__section--one-department-img{   
    margin-top: 7px;
    padding: 13px;
    width: 68px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 16%);
    cursor: pointer;
    margin-left: 20px;
}
.imageElement--home__image-cell-phone,
.imageElement--home__image-computer,
.imageElement--home__image-tv,
.imageElement--home__image-home-appliances,
.imageElement--home__image-video-game,
.imageElement--home__image-smartwatch,
.imageElement--home__image-audio{
    width: 380px;
}
.imageElement--home__image--slider-phone{
    margin-top: 0px;
}
.imageElement--home__image--slider-tablet{
    height: 350px;
    margin-top: 0px;
}
.imageElement--home__image-top-offers,
.imageElement--home__image-cell-phone,
.imageElement--home__image-computer,
.imageElement--home__image-tv,
.imageElement--home__image-home-appliances,
.imageElement--home__image-video-game,
.imageElement--home__image-smartwatch,
.imageElement--home__image-audio{
    margin-bottom: 10px;
}
.imageElement--home_section_payment-methods--image{
    margin-left: 81px;
}
@media screen and (min-width:320px) and (max-width:640px) {
    .imageElement--home__image-top-offers{
        width: 280px;
    }
    .imageElement--home__image-cell-phone,
    .imageElement--home__image-computer,
    .imageElement--home__image-tv,
    .imageElement--home__image-home-appliances,
    .imageElement--home__image-video-game,
    .imageElement--home__image-smartwatch,
    .imageElement--home__image-audio{
        width: 295px;
        max-width: none !important;
    }
}
@media screen and (min-width:640px) and (max-width:1024px) {
    .imageElement--home__image-top-offers{
        width: 280px;
    }
    .imageElement--home__image-cell-phone,
    .imageElement--home__image-computer,
    .imageElement--home__image-tv,
    .imageElement--home__image-home-appliances,
    .imageElement--home__image-video-game,
    .imageElement--home__image-smartwatch,
    .imageElement--home__image-audio{
        width: 229px;
        max-width: none !important;
    }
    .imageElement--home_section_payment-methods--image{
        margin-left: 0px;
    }
}