.flexColChild--section__one--image{
    width: 50%;
}
.flexRowContent--home__sectione--one{
    background-color: #e33226;
}
.flexRowContent--home__images{
    margin-top: 40px;
    margin-bottom: 40px;
}
.flexRowContent--home__section--one-departments{
    margin-top: 24px;
}
.sliderLayoutContainer--home__slider{
    margin-top: -60px;
}

