.flexRow--footer__container--contact{
    margin: 0px 150px 0px 150px;
    padding: 30px 0px 30px 0;
}
.flexRow--footer__container--payment-methods{
    border-top: 1px solid grey;
    max-width: 1366px;
    margin: 25px 65px 20px;
    padding-top: 10px;

}
.flexRow--footer__container--payment-methods-img{
    margin: 0px 0px 20px 0px;
}
.flexRowContent--footer__container--payment-methods-img{
    justify-content: center;
}
.flexRowContent--footer__container--disclosure{
    margin: 45px 0px 20px 75px;    
}
.flexColChild--policies__content2--image{
    width: 200px;
    padding: 20px;
    margin-left: 15px;
} 
.flexRow--footer__container--links{
    border-top: 1px solid grey;
    max-width: 1366px;
    margin: 0px 65px 180px 65px;
    padding-top: 10px;
}
.flexRowContent--footer__container--links{
    align-items: flex-start;
    margin-left: 10px;
}

.flexRowContent--footer__container--socialmedia{   
    border-top: 1px solid grey;   
    
}
.flexRowContent--footer__container--socialmedia-text-icons{
    align-items: center;
    margin-left: 85%;
    width: 220px;
} 
.flexRow--footer__container--socialmedia{
    margin: 0px 60px 0px 60px;
}


@media screen and (max-width: 639px){ 
    .flexRowContent--footer__container--contact{
        display: flex;
        min-width: max-content;
    }  
    .flexRow--footer__container--contact{
        margin: 0px;
        overflow:auto
    }
    .flexRow--footer__container--contact::-webkit-scrollbar{
        height: 3px;
    }
    .flexRow--footer__container--contact::-webkit-scrollbar-thumb{ 
        background-color: rgb(85, 85, 85);
    }
    .flexRow--footer__container--contact::-webkit-scrollbar-track{ 
        background-clip: padding-box;
    }
    .paragraph--rich-text_footer_container--contact-razonsocial{
        min-width: max-content;
    }
    .flexRowContent--footer__container--contact :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        margin: 0 15px 0 15px
    }
    .flexRowContent--footer__container--payment-methods-img :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        margin: 0 30px;
    }  
    .flexRowContent--footer__container--socialmedia-text-icons{
        display: flex;
        margin-left: 25%;
    }
    .flexRow--footer__container--socialmedia{
        margin: 0px 17px 0px 17px;
    }
    
}


@media screen and (max-width: 1024px){   
    .flexRowContent--footer__container--contact{
        display: flex;
    }
    .flexRow--footer__container--payment-methods{
        margin: 25px 25px 20px;
    }
    .flexRowContent--footer__container--payment-methods-img{
        display: flex;
        min-width: max-content;
        padding-bottom: 15px;
    }
    .flexRow--footer__container--payment-methods-img{
        overflow: auto;
    } 
    .flexRow--footer__container--payment-methods-img::-webkit-scrollbar{
        height: 3px;
    }
    .flexRow--footer__container--payment-methods-img::-webkit-scrollbar-thumb{ 
        background-color: rgb(85, 85, 85);
    }
    .flexRow--footer__container--payment-methods-img::-webkit-scrollbar-track{ 
        background-clip: padding-box;
    }
    .flexColChild--policies__content2--image{
        width: 116px;
        margin-left: 15px;
        margin-right: 10px;
    }
    .flexRowContent--policies__content2{
        display: flex;
    }
    .flexRowContent--footer__container--links{
        text-align: start;
        flex-direction: column;
    }
    .flexRow--footer__container--links{
        margin: 0px 25px 40px 25px;
    }
    .paragraph--information-title{
        margin: 0;
    } 
    .flexRow--footer__container--links{
        margin-bottom: 25px;
        padding-top: 30px;
    }  
   
}
@media screen and (min-width: 640px) and (max-width: 1024px){
    .flexRow--footer__container--contact{
        margin: 0px 50px 0px 50px;
    }
    .flexRowContent--footer__container--payment-methods-img :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        margin: 0 22px;
    }  
    .flexRowContent--footer__container--socialmedia-text-icons{
        margin-left: 37%;
    }
    .flexRow--footer__container--socialmedia{
        margin: 0px 10px 0px 10px;
    }    
    .paragraph--information-title{
        transform: translate(-20px, -40px);
    }
    .flexRow--footer__container--links{
        margin: 0px 25px 40px 25px;
    } 
    .flexRow--menu__mobile-sticky{
        margin: 0 20px 0 20px;
     }
    
}