.headerRowBackground--header__top{
    background-color: rgb(255, 255, 255);
}
.headerRowContentContainer--header__desktop--menu{
    background-color: #004691;
    border-top: solid 3px  #e63027;
    height: 42px;
    margin: 0%;
    padding: 0%;
    margin-top: 17px;
}
.headerRowContentContainer--hearder__mobile{
    padding: 5px 16px;
    border-bottom: solid 2px #e63027;
}
.headerRowContainer--header__middle{
    margin-left: 396px;
    margin-bottom: -6px;
}
.headerRow--header__middle{
    margin-bottom: -16px;
}
.headerRowContentContainer--hearder__middle-mobile{
    background: #f8f8f8;
    box-shadow: 0 3px 4px rgb(0 0 0 / 33%);
}
.headerRowContainer--hearder__middle-mobile{
    margin-bottom: -28px;
    display: flex;
    justify-content: center;
}