
.searchBarContainer :global(.vtex-input-prefix__group){
    border: solid 1px  #004691;
    border-radius: 3px;
}
.searchBarContainer ::placeholder{
    color: #004691;
    font-size: 14px;
}
.searchBarIcon--header__search--search{
    color: white;
    background-color: #e63027;
    padding: 10px;
    border-radius: 5px;
}
.logoImage--header__top--logo-mobile{
    height: 48px;
}
.searchBarInnerContainer--header__search--mobile{
    width: 90%;
    transform: translateX(20px);
    height: 40px;
}
.searchIcon--header__search--mobile{
    color: #e63027;
}
.headerRowContentContainer--hearder__mobile{
    padding: 5px 16px;
    border-bottom: solid 2px #e63027;
}
.suffixWrapper--header__search{
    transform: translateX(16px);
    display: flex;
}